out/
.idea/
.idea_modules/
__pycache__/
cmake-build-*/

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
atlassian-ide-plugin.xml

*.iws
*.iml
*.ipr

Pygame/__pycache__/
Pygame/ToUpload/dist/
Pygame/ToUpload/pi2143oopg/__pycache__/
Tkinter/__pycache__/
ToUpload/dist/
ToUpload/pi2143oop/__pycache__/